/* General  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-Regular.ttf)
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}

body {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: white;
  position: relative;
}

ul, a{
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding: 20px;

}

@media  screen and (max-width: 750px) {
.container {
  max-width: 750px;
  padding-left: 5px;
  padding-right: 5px;
  padding: 10px;
}

}

@media screen and (max-width: 500px) {
  .container {
    max-width: 400px;
    padding: 10px;
  }
}


/* Header */
header {
  position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    background-color: #fff;
    margin: 0 auto;
  }

  header .logo {
    width: 19em;
  }
  
  
  header ul {
    display: flex;
    gap: 1em;
  }
  
  header ul a {
    opacity: 0.7;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0);

  }
  header ul a:hover {
  border-bottom: 1px solid black;
  }

  header li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.4em;
  }
  .header-mobile-phone{
    display:none;

  }
  .hamburger{
    cursor: pointer;
    display:none;
  
  }
  .hamburger img{
    
   width: 4em;
   padding: 10px;
  }

@media screen and (max-width: 500px) {
  .hamburger img {
    padding: 0px;
    width: 2em;
  }
  header .logo{
    width:10em;
  }
  header img{
    width:2em;
  }
}

  @media  screen and (max-width: 750px) {
    header{
      z-index: 2;
    }
    .hamburger{
      display:block;
    }
    .header-mobile-phone{
      display:block;
    }
    header ul{
      display: none;
    }
     .navbar-section{
      height:30vh;
      width:100%;
      position: absolute;
      transform: translateY(-100%);
      transition: 0.3s;
    }
    .navbar-main ul{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      gap: 0;
    }
    nav ul{
      flex-direction: column;
    }
    .navbar-section.open{
      transform: translateY(0%);

    }
  }


  /* NavBar */
  .navbar-section{
    background-color: rgb(121, 55, 129);
  }
  nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:6vh;
    width:100%;
  }
  nav a{
    color: white;
  }

  nav ul{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
    padding: 5px;
  }
  nav li{
    display: flex;
    align-items: center;
    justify-content:center;
    height:6vh;
    padding: 5px;
  }
  nav li:hover{
    background-color: rgb(88, 57, 92);

  }


  /* Main Hero  */

  main{
    height:74vh;
    background-image: url(../images/top-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position:center;
    display: flex;
    align-items: center;
  }

  .main-hero-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    
  }
  .main-hero-text h1{
    font-size: 2.5em;
    text-shadow: 2px 3px 0px #0000004f;
  }
  .main-hero-text p{
    max-width:650px;
    text-shadow: 4px 3px 0px #3636364f;
  }
  .main-hero-text .main-button{
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgb(121, 55, 129);
    border-radius: 5px;
    text-shadow: 4px 3px 0px #3636364f;

  }
  .main-hero-text .main-button:hover{
    background-color: rgb(88, 57, 92);
  }


  /* TABLET */

  @media  screen and (max-width: 750px) {
  .main-hero-text h1{
      font-size: 2em;
     max-width:430px;
      
  }

  .main-hero-text p{
      font-size: 0.9em;
      max-width:500px;

  }
  }

  /* MOBILE */

@media screen and (max-width: 500px) {

  .main-hero-text h1{
    font-size: 24px;
  }

}


  /* Cards  */

  .cards-section{
    height:100vh;
    background-image: url(../images/bg-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  }

  .cards-main-text {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    padding-top: 4em;
  }
  .cards-main-text h1{
    color: rgb(121, 55, 129);
    font-size: 2em;
  }
  .cards-main-text p{
    color: black;
    font-size: 18px;

  }

.cards-container{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  color: black;
  padding: 30px;
  gap: 20px;
}


@media screen and (max-width: 500px) {
  .cards-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;

}
.cards-section{
  background-image: none;

}
.card{
  background-image: url(../images/bg-pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  padding: 0;

}

.cards-main-text h1{
  font-size: 1.2em;
  width: 100%;
}
}
@media screen and (max-width: 750px) {

  .cards-section{
    background-size: auto;
  }
  .cards-main-text {
    gap: 20px;
    padding-top: 20px;
  }
  .cards-main-text h1{
    width: 25ch;
  }
  

}
@media screen and (max-width: 500px) {

  .card:last-child{
    margin-bottom: 30px!important;
  }

}