/* General  */
@import "basics.css";
@import "helpers.css";

@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-Regular.ttf)
}

body {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  color: white;
  position: relative;
}


ul, a{
  text-decoration: none;
  list-style: none;
}




/* Header */
header {
  position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    background-color: #fff;
    margin: 0 auto;
  }

  header .logo {
    width: 19em;
  }
  
  
  header ul {
    display: flex;
    gap: 1em;
  }
  
  header ul a {
    opacity: 0.7;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0);

  }
  header ul a:hover {
  border-bottom: 1px solid black;
  }

  header li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.4em;
  }
  .header-mobile-phone{
    display:none;

  }
  .hamburger{
    cursor: pointer;
    display:none;
    transition: 0.3s;
  
  }
  .hamburger img{
   width: 4em;
   padding: 10px;
  }

  

  .header-mobile-phone{
    transition: 0.3s;
    cursor: pointer;
  }
  .header-mobile-phone:hover{
    transform:scale(1.1)
  }
  .hamburger:hover{
    transform:scale(1.2)
   
   }


  /* NavBar */
  .navbar-section{
    background-color: rgb(121, 55, 129);
  }
  nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:6vh;
    width:100%;
  }
  nav a{
    color: white;
  }

  nav ul{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
    padding: 5px;
  }
  nav li{
    display: flex;
    align-items: center;
    justify-content:center;
    height:6vh;
    cursor: pointer;
    padding: 5px;
    
  }
  nav li:hover{
    background-color: rgb(88, 57, 92);

  }


  /* Main Hero  */

  main{
    height:74vh;
    background-image: url(../images/top-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position:center;
    display: flex;
    align-items: center;
  }

  .main-hero-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    
  }
  .main-hero-text h1{
    font-size: 2.5em;
    text-shadow:  -2px 0px 0px #2d2d2d;
  }
  .main-hero-text p{
    max-width:650px;
    text-shadow: 1px 1px 0px #2d2d2d;;


  }
  .main-hero-text .main-button{
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgb(121, 55, 129);
    border-radius: 5px;
    color: rgb(218, 218, 218);
    text-shadow: 1px 1px 0px #2d2d2d;;
    

  }
  .main-hero-text .main-button:hover{
    background-color: rgb(88, 57, 92);
  }


 
  /* Cards  */

  .cards-section{
    background-image: url(../images/bg-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  }

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    color: black;
    gap: 20px;
    padding: 0;
  }

  .cards-main-text {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    padding-top: 4em;
    margin-bottom: 50px;
  }
  .cards-main-text h1{
    color: rgb(121, 55, 129);
    font-size: 2em;
  }
  .cards-main-text p{
    color: black;
    font-size: 18px;

  }

.cards-container{
    display: grid;
    grid-template-columns: 1fr 2px  1fr;
    grid-template-rows: 1fr 2px 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/* Dividers */

.card-devider-x{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.devider-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-devider-y{
  flex-direction: column;
  display: flex;
  align-items: center;
}

.seperator-x-mobile{
  display: none;
}




/* Media Queries */

 /* TABLET */

 @media  screen and (max-width: 750px) {

    /* Header */
  
    header{
      z-index: 2;
    }
   
    .header-mobile-phone{
      display:block;
    }
    header ul{
      display: none;
    }
     
  /* NavBar */

  .navbar-section{
    height:30vh;
    width:100%;
    position: absolute;
    transform: translateY(-100%);
    transition: 0.3s;
  }
  .navbar-main ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 0;
  }

  .hamburger{
    display:block;
  }

  nav ul{
    flex-direction: column;
  }
  nav li{
    width: 100vw;
  }
  .navbar-section.open{
    transform: translateY(0%);

  }

  /* Dividers */
  .card-devider-x img{
    width:100%;
    }
  .card-devider-y img{
    height:100%;
    }

    /* Cards */
    .cards-section{
      background-size: auto;
    }
    .cards-main-text {
      gap: 20px;
      padding-top: 20px;
    }
    .cards-main-text h1{
      width: 25ch;
    }
    .card img{
      width:7em;
    }

    /* Main Hero */
  .main-hero-text h1{
      font-size: 2em;
    width:25ch
  }

  .main-hero-text p{
      font-size: 0.9em;
      max-width:500px;

    }
  }



  /* MOBILE */

@media screen and (max-width: 500px) {
  /* Cards */

  .cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .card-devider-x-mobile{
    max-width: 10px;
  }
  
  /* Dividers */
  
  .seperator-x-mobile{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 3px;
  }
  .devider-img-mobile{
    z-index: 2;
    background-color: #fff;
    padding: 0 4px 0px 2px;
  }
  .devider-img-mobile img{
  width:1em;
  }
  
  .card-devider-y{
    display: none;
  }
    
  
  /* Card */
  .cards-section{
    background-image: none;
  
  }
  .card{
    background-image: url(../images/bg-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  }


  .card img{
    width:5em;
  }

  .card:last-child{
    margin-bottom: 30px!important;
  }

  .cards-main-text h1{
    font-size: 1.2em;
    width: 100%;
  }

  .main-hero-text h1{
    font-size: 24px;
  }

  /* Header */

   .hamburger img {
    padding: 0px;
    width: 2em;
  }
  
  header .logo{
    width:10em;
  }
  header img{
    width:2em;
  }
  .mobile-hide{
    display: none;
  }

}
